<div class="row">
  <h3>Photos</h3>
  <div class="col-2 d-flex flex-column" *ngFor="let photo of member.userPhotos">
    <img
      class="img-thumbnail p-1"
      src="{{ photo.url }}"
      alt="{{ photo.url }}"
      [class.not-approved]="!photo.isApproved"
    />
    <div class="text-center img-text" *ngIf="!photo.isApproved">
      <span class="text-danger">Awaiting approval</span>
    </div>

    <div class="d-flex">
      <button
        class="btn btn-sm flex-grow-1 me-1"
        [disabled]="photo.isMain || !photo.isApproved"
        (click)="setMainPhoto(photo)"
        [ngClass]="photo.isMain ? 'btn-success active' : 'btn-outline-success'"
      >
        Main
      </button>
      <button
        class="btn btn-sm btn-danger flex-grow-1"
        title="Delete"
        (click)="deletePhoto(photo.id)"
        [disabled]="photo.isMain"
      >
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>

<div class="row mt-3">
  <h3>Upload Photos</h3>
  <div class="col-6 mx-auto">
    <div
      ng2FileDrop
      [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
      (fileOver)="fileOverDropZone($event)"
      (click)="fileInput.click()"
      [uploader]="uploader"
      class="card bg-faded p-3 text-center mb-3 my-drop-zone"
    >
      <i class="fa fa-upload fa-2x"></i>
      Drop Photos Here
    </div>
    <input
      type="file"
      #fileInput
      ng2FileSelect
      [uploader]="uploader"
      multiple
      hidden
    /><br />
  </div>
</div>

<div class="row mt-3" *ngIf="uploader?.queue?.length != 0">
  <h3>Upload queue</h3>
  <div class="col-md-12" style="margin-bottom: 40px">
    <p>Queue length: {{ uploader?.queue?.length }}</p>

    <table class="table">
      <thead>
        <tr>
          <th width="50%">Name</th>
          <th>Size</th>
          <th>Progress</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td>
            <strong>{{ item?.file?.name }}</strong>
          </td>
          <td *ngIf="uploader.options.isHTML5" nowrap>
            {{ item?.file?.size / 1024 / 1024 | number: ".2" }} MB
          </td>
          <td *ngIf="uploader.options.isHTML5">
            <div class="progress" style="margin-bottom: 0">
              <div
                class="progress-bar"
                role="progressbar"
                [ngStyle]="{ width: item.progress + '%' }"
              ></div>
            </div>
          </td>
          <td class="text-center">
            <span *ngIf="item.isSuccess"
              ><i class="glyphicon glyphicon-ok"></i
            ></span>
            <span *ngIf="item.isCancel"
              ><i class="glyphicon glyphicon-ban-circle"></i
            ></span>
            <span *ngIf="item.isError"
              ><i class="glyphicon glyphicon-remove"></i
            ></span>
          </td>
          <td nowrap>
            <button
              type="button"
              class="btn btn-success btn-xs"
              (click)="item.upload()"
              [disabled]="item.isReady || item.isUploading || item.isSuccess"
              title="Upload"
            >
              <i class="fa fa-upload"></i>
            </button>
            <button
              type="button"
              class="btn btn-warning btn-xs"
              (click)="item.cancel()"
              [disabled]="!item.isUploading"
              title="Cancel"
            >
              <i class="fa fa-ban"></i>
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="item.remove()"
              title="Delete"
            >
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <div>
        Queue progress:
        <div class="progress mb-3">
          <div
            class="progress-bar"
            role="progressbar"
            [ngStyle]="{ width: uploader.progress + '%' }"
          ></div>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-between">
        <button
          type="button"
          class="btn btn-success btn-s"
          (click)="uploader.uploadAll()"
          [disabled]="!uploader.getNotUploadedItems().length"
        >
          <span class="fa fa-upload"></span> Upload all
        </button>
        <button
          type="button"
          class="btn btn-warning btn-s"
          (click)="uploader.cancelAll()"
          [disabled]="!uploader.isUploading"
        >
          <span class="fa fa-ban"></span> Cancel all
        </button>
        <button
          type="button"
          class="btn btn-danger btn-s"
          (click)="uploader.clearQueue()"
          [disabled]="!uploader.queue.length"
        >
          <span class="fa fa-trash"></span> Remove all
        </button>
      </div>
    </div>
  </div>
</div>
